button.button-add-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;

  background: $button-purple;
  font-weight: $semibold;
  font-size: $text-xs;
  padding: 0.7rem 1rem;
  color: white;
  border-radius: $radius-sm;
  height: 40px;

  &:hover {
    cursor: pointer;
    background: $button-purple-hover;
  }
}
