.comment {
  margin-bottom: 2rem;
}

.comment,
.comment-nested {
  display: flex;
  width: 100%;
  // flex-direction: column;
  gap: 1.5rem;
  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .user-info-and-reply-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    .user-info {
      h3 {
        color: $text-navy;
        font-weight: $bold;
        font-size: $text-sm;
        margin-bottom: 0.6rem;
      }
      h4 {
        color: $text-gray;
        font-weight: $regular;
        font-size: $text-sm;
      }
    }

    .reply-button {
      background: none;
      font-weight: $semibold;
      font-size: $text-xs;
      color: $button-blue;

      &:hover {
        color: $button-blue-hover;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  p {
    font-size: $text-md;
    color: $text-gray;
    line-height: 1.2rem;
  }
}

form.reply-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  @include md {
    flex-direction: row;
  }

  .reply-input {
    background: $background-gray;
    border-radius: $radius-xs;
    outline: none;
    border: none;
    width: 100%;
    max-width: 650px;
    height: auto;
    resize: none;
    padding: 1rem;
    color: $text-navy;
    border: 1px solid rgba(0, 0, 0, 0);
    &:focus {
      border: 1px solid $button-blue;
    }
  }
  button.textarea-submit-button {
    background: $button-purple;
    color: white;
    font-weight: $bold;
    font-size: $text-sm;
    border-radius: $radius-sm;
    height: 45px;
    &:hover {
      cursor: pointer;
      background: $button-purple-hover;
      color: $text-almost-white;
    }

    @include md {
      width: 120px;
    }
  }
}

.comment-nested-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.comment-nested {
  padding-left: 3rem;
}
