.comment {
  margin-bottom: 3rem;
}

.comment,
.comment-nested {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .user-info-and-reply-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    .user-info {
      h3 {
        color: $text-navy;
        font-weight: $bold;
        font-size: $text-sm;
        margin-bottom: 0.6rem;
      }
      h4 {
        color: $text-gray;
        font-weight: $regular;
        font-size: $text-sm;
      }
    }

    .reply-button {
      background: none;
      font-weight: $semibold;
      font-size: $text-xs;
      color: $button-blue;

      &:hover {
        color: $button-blue-hover;
        cursor: pointer;
      }
    }
  }

  p {
    font-size: $text-md;
    color: $text-gray;
    line-height: 1.2rem;
  }
}

.comment-nested-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.comment-nested {
  padding-left: 3rem;
}
