// MOBILE SIDEBAR

// BLACK OVERLAY
.mobile-sidebar {
  position: fixed;
  // top: 50px;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
  position: fixed;
  z-index: 40;

  @include md {
    display: none;
  }

  .mobile-sidebar-card {
    position: fixed;
    gap: 1.5rem;
    right: 0;
    height: 100%;
    width: 270px;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: $background-gray;

    .category {
      display: flex;
    }
    .roadmap {
      display: grid;
    }
  }
}
