.sort-by-dropdown {
  position: absolute;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  background: white;
  border-radius: $radius-sm;
  overflow: hidden;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  width: 255px;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-gray;
    font-size: $text-lg;
    padding: 0.75rem 1rem;
    background: white;
    &:hover {
      cursor: pointer;
      color: $button-purple;
    }
  }
  hr {
    border: 1px solid $text-almost-white;
    margin: 0;
  }
}
