.feedback-detail-page {
  display: flex;
  flex-direction: column;
  // background: red;
  height: auto;
  padding: 1.5rem;
  gap: 1.5rem;
  max-width: 730px;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button.button-edit-feedback {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;

      background: $button-blue;
      font-weight: $semibold;
      font-size: $text-xs;
      padding: 0.7rem 1rem;
      color: white;
      border-radius: $radius-sm;
      height: 40px;

      &:hover {
        cursor: pointer;
        background: $button-blue-hover;
      }
    }
  }

  .comment-section {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2rem;
    border-radius: $radius-sm;
    gap: 2rem;

    h2 {
      color: $text-navy;
      font-size: $text-xl;
      font-weight: $bold;
    }
  }

  .reply-comment-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background: white;
    border-radius: $radius-sm;

    @include md {
      min-width: 700px;
    }
    @include lg {
      min-width: 730px;
    }

    h2 {
      font-size: $text-xl;
      color: $text-navy;
    }
    .comment-input {
      background: $background-gray;
      border-radius: $radius-xs;
      outline: none;
      border: none;
      width: 100%;
      max-width: 650px;
      resize: none;
      padding: 1rem;
      color: $text-navy;
      border: 1px solid rgba(0, 0, 0, 0);
      &:focus {
        border: 1px solid $button-blue;
      }
    }
    .characters-and-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p.characters-count {
        color: $text-gray;
        font-size: $text-md;
      }

      button.post-comment-button {
        background: $button-purple;
        color: white;
        font-weight: $bold;
        font-size: $text-sm;
        border-radius: $radius-sm;
        min-width: 120px;
        height: 45px;
        &:hover {
          cursor: pointer;
          background: $button-purple-hover;
          color: $text-almost-white;
        }
        @include md {
          width: 120px;
        }
      }
    }
  }
}
