// SUGGESTIONS PAGE
div.suggestions-page {
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include md {
    padding: 3rem 2rem;
    gap: 1.5rem;
  }
  @include lg {
    justify-content: center;
    flex-direction: row;
    padding-bottom: 5rem;
  }

  // HEADER
  header.suggestions-header {
    @include md {
      height: 180px;
      display: flex;
      gap: 0.5rem;
    }
    @include lg {
      flex-direction: column;
      max-width: 255px;
      gap: 1rem;
    }

    .rainbow-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 72px;
      padding: 1.5rem;

      background-image: url("./assets/suggestions/mobile/background-header.png");
      background-repeat: no-repeat;
      background-size: cover;

      @include md {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: $radius-sm;
        background-image: url("./assets/suggestions/tablet/background-header.png");
        align-items: flex-end;
      }

      @include lg {
        background-image: url("./assets/suggestions/desktop/background-header.png");
        min-height: 135px;
      }
      .headline-subheadline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.4rem;
        h1 {
          font-weight: $bold;
          color: white;
          font-size: 1rem;
        }
        h2 {
          font-weight: $semibold;
          color: $text-almost-white-75;
          font-size: 0.8rem;
        }
      }
      button {
        width: 20px;
        height: 17px;
        background: none;
        border: none;
        @include md {
          display: none;
        }
      }
      button:hover {
        cursor: pointer;
      }
    }
  }

  // SUGGESTIONS
  section.suggestions-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    @include lg {
      width: 100%;
      min-width: 580px;
      max-width: 825px;
      padding-bottom: 5rem;
    }

    // BAR
    .suggestions-bar {
      background: $background-navy;
      padding: 0.5rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin-bottom: 1.5rem;
      @include md {
        border-radius: $radius-sm;
        padding: 1rem;
        gap: 3rem;
        justify-content: flex-start;
      }

      span.suggestions-count {
        img.suggestions-icon {
          display: none;
          @include md {
            display: block;
          }
        }

        font-weight: $bold;
        font-size: $text-xl;
        color: white;
        display: none;
        @include md {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
      button.sort-by {
        background: none;
        border: none;
        color: $text-almost-white;
        font-size: $text-sm;
        position: relative;
        width: 190px;
        text-align: start;
        &:hover {
          cursor: pointer;
        }
        @include md {
          color: $text-almost-white;
        }
      }
      button.button-add-feedback {
        @include md {
          margin-left: auto;
        }
      }
    }

    .suggestions-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0rem 1.5rem;
      margin-bottom: 1.5rem;
      height: auto;

      @include md {
        padding: 0px;
        padding-bottom: 5rem;
      }
    }
  }
}
