@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,600&display=swap");
*,
*:before,
*:after {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Jost", sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background-color: #f7f8fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

a,
a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

div.suggestions-page {
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  div.suggestions-page {
    padding: 3rem 2rem;
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  div.suggestions-page {
    justify-content: center;
    flex-direction: row;
    padding-bottom: 5rem;
  }
}
@media (min-width: 768px) {
  div.suggestions-page header.suggestions-header {
    height: 180px;
    display: flex;
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  div.suggestions-page header.suggestions-header {
    flex-direction: column;
    max-width: 255px;
    gap: 1rem;
  }
}
div.suggestions-page header.suggestions-header .rainbow-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 72px;
  padding: 1.5rem;
  background-image: url("./assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  div.suggestions-page header.suggestions-header .rainbow-card {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("./assets/suggestions/tablet/background-header.png");
    align-items: flex-end;
  }
}
@media (min-width: 1024px) {
  div.suggestions-page header.suggestions-header .rainbow-card {
    background-image: url("./assets/suggestions/desktop/background-header.png");
    min-height: 135px;
  }
}
div.suggestions-page header.suggestions-header .rainbow-card .headline-subheadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}
div.suggestions-page header.suggestions-header .rainbow-card .headline-subheadline h1 {
  font-weight: 700;
  color: white;
  font-size: 1rem;
}
div.suggestions-page header.suggestions-header .rainbow-card .headline-subheadline h2 {
  font-weight: 600;
  color: rgba(242, 244, 254, 0.75);
  font-size: 0.8rem;
}
div.suggestions-page header.suggestions-header .rainbow-card button {
  width: 20px;
  height: 17px;
  background: none;
  border: none;
}
@media (min-width: 768px) {
  div.suggestions-page header.suggestions-header .rainbow-card button {
    display: none;
  }
}
div.suggestions-page header.suggestions-header .rainbow-card button:hover {
  cursor: pointer;
}
div.suggestions-page section.suggestions-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
@media (min-width: 1024px) {
  div.suggestions-page section.suggestions-container {
    width: 100%;
    min-width: 580px;
    max-width: 825px;
    padding-bottom: 5rem;
  }
}
div.suggestions-page section.suggestions-container .suggestions-bar {
  background: #373f68;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  div.suggestions-page section.suggestions-container .suggestions-bar {
    border-radius: 10px;
    padding: 1rem;
    gap: 3rem;
    justify-content: flex-start;
  }
}
div.suggestions-page section.suggestions-container .suggestions-bar span.suggestions-count {
  font-weight: 700;
  font-size: 18px;
  color: white;
  display: none;
}
div.suggestions-page section.suggestions-container .suggestions-bar span.suggestions-count img.suggestions-icon {
  display: none;
}
@media (min-width: 768px) {
  div.suggestions-page section.suggestions-container .suggestions-bar span.suggestions-count img.suggestions-icon {
    display: block;
  }
}
@media (min-width: 768px) {
  div.suggestions-page section.suggestions-container .suggestions-bar span.suggestions-count {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
div.suggestions-page section.suggestions-container .suggestions-bar button.sort-by {
  background: none;
  border: none;
  color: #f2f4fe;
  font-size: 14px;
  position: relative;
  width: 190px;
  text-align: start;
}
div.suggestions-page section.suggestions-container .suggestions-bar button.sort-by:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  div.suggestions-page section.suggestions-container .suggestions-bar button.sort-by {
    color: #f2f4fe;
  }
}
@media (min-width: 768px) {
  div.suggestions-page section.suggestions-container .suggestions-bar button.button-add-feedback {
    margin-left: auto;
  }
}
div.suggestions-page section.suggestions-container .suggestions-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1.5rem;
  margin-bottom: 1.5rem;
  height: auto;
}
@media (min-width: 768px) {
  div.suggestions-page section.suggestions-container .suggestions-list {
    padding: 0px;
    padding-bottom: 5rem;
  }
}

.new-feedback-page,
.edit-feedback-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  background: #f7f8fd;
  z-index: 50;
  width: fit-content;
  padding: 1.5rem;
  overflow-y: scroll;
}
.new-feedback-page button.go-back,
.edit-feedback-page button.go-back {
  margin-right: auto;
  margin-bottom: 3.5rem;
  background: none;
  color: #647196;
  font-weight: 700;
  font-size: 13px;
}
.new-feedback-page button.go-back:hover,
.edit-feedback-page button.go-back:hover {
  cursor: pointer;
}

.edit-feedback-page {
  padding-top: 5rem;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  background: white;
  width: 100%;
  padding: 1.5rem;
  padding-top: 3rem;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .feedback-form {
    max-width: 540px;
    padding: 2.5rem;
    padding-top: 4rem;
  }
}
.feedback-form img.icon-new-feedback,
.feedback-form img.icon-edit-feedback {
  width: 40px;
  position: absolute;
  top: -20px;
}
@media (min-width: 768px) {
  .feedback-form img.icon-new-feedback,
  .feedback-form img.icon-edit-feedback {
    width: 56px;
    top: -28px;
  }
}
.feedback-form h1 {
  color: #3a4374;
  font-size: 18px;
  margin-bottom: 2.4rem;
  line-height: 2.4rem;
}
@media (min-width: 768px) {
  .feedback-form h1 {
    font-size: 24px;
  }
}
.feedback-form h2 {
  color: #3a4374;
  font-size: 13px;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .feedback-form h2 {
    font-size: 14px;
  }
}
.feedback-form p {
  color: #647196;
  font-size: 13px;
  margin-bottom: 1.5rem;
  line-height: 1.2rem;
}
@media (min-width: 768px) {
  .feedback-form p {
    font-size: 14px;
  }
}
.feedback-form p.empty-message {
  margin-top: -15px;
  color: #d73737;
  font-size: 13px;
}
.feedback-form input.title-input,
.feedback-form input.title-input-error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f8fd;
  border: none;
  outline: none;
  height: 48px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0rem 1rem;
  border: 1px solid #f7f8fd;
  font-size: 15px;
  color: #3a4374;
}
.feedback-form input.title-input:hover,
.feedback-form input.title-input-error:hover {
  border: 1px solid #4661e6;
}
.feedback-form input.title-input:focus,
.feedback-form input.title-input-error:focus {
  border: 1px solid #4661e6;
}
.feedback-form input.title-input-error {
  border: 1px solid #d73737;
}
.feedback-form input.title-input-error:hover {
  border: 1px solid #d73737;
}
.feedback-form input.title-input-error:focus {
  border: 1px solid #d73737;
}
.feedback-form .category-input-container {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}
.feedback-form .category-input-container button.category-input,
.feedback-form .category-input-container button.status-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  outline: none;
  box-sizing: border-box;
  background: #f7f8fd;
  border: 1px solid #f7f8fd;
  color: #3a4374;
}
.feedback-form .category-input-container button.category-input:hover,
.feedback-form .category-input-container button.status-input:hover {
  cursor: pointer;
  border: 1px solid #4661e6;
}
.feedback-form .category-input-container button.category-input:focus,
.feedback-form .category-input-container button.status-input:focus {
  border: 1px solid #4661e6;
}
.feedback-form textarea.feedback-detail,
.feedback-form textarea.feedback-detail-error {
  min-height: 120px;
  resize: horizontal;
  overflow: hidden;
  background: #f7f8fd;
  border-radius: 5px;
  outline: none;
  border: none;
  resize: none;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #f7f8fd;
  color: #3a4374;
}
.feedback-form textarea.feedback-detail:hover,
.feedback-form textarea.feedback-detail-error:hover {
  border: 1px solid #4661e6;
}
.feedback-form textarea.feedback-detail:focus,
.feedback-form textarea.feedback-detail-error:focus {
  border: 1px solid #4661e6;
}
.feedback-form textarea.feedback-detail-error {
  border: 1px solid #d73737;
}
.feedback-form textarea.feedback-detail-error:hover {
  border: 1px solid #d73737;
}
.feedback-form textarea.feedback-detail-error:focus {
  border: 1px solid #d73737;
}
.feedback-form .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .feedback-form .buttons {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
.feedback-form .buttons button.add-feedback,
.feedback-form .buttons button.save-changes,
.feedback-form .buttons button.cancel,
.feedback-form .buttons button.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ad1fea;
  color: #f2f4fe;
  height: 40px;
  font-weight: bold;
  width: auto;
  padding: 0.8rem;
  border-radius: 10px;
}
.feedback-form .buttons button.add-feedback:hover,
.feedback-form .buttons button.save-changes:hover,
.feedback-form .buttons button.cancel:hover,
.feedback-form .buttons button.delete:hover {
  background: #c75af6;
  cursor: pointer;
}
@media (min-width: 768px) {
  .feedback-form .buttons button.add-feedback,
  .feedback-form .buttons button.save-changes,
  .feedback-form .buttons button.cancel,
  .feedback-form .buttons button.delete {
    width: 144px;
  }
}
.feedback-form .buttons button.cancel {
  background: #3a4374;
  margin-bottom: 0rem;
}
.feedback-form .buttons button.cancel:hover {
  background: #656ea3;
}
.feedback-form .buttons button.delete {
  background: #d73737;
}
.feedback-form .buttons button.delete:hover {
  background: #e98888;
}
@media (min-width: 768px) {
  .feedback-form .buttons button.delete {
    width: 92px;
    margin-right: auto;
  }
}

.roadmap-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
@media (min-width: 768px) {
  .roadmap-page {
    padding: 2.5rem;
  }
}
.roadmap-page nav.roadmap-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #373f68;
  color: white;
  width: 100%;
  min-height: 100px;
  height: 100px;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  .roadmap-page nav.roadmap-navigation {
    border-radius: 10px;
    max-width: 1110px;
  }
}
.roadmap-page nav.roadmap-navigation .title-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.roadmap-page nav.roadmap-navigation .title-and-button button {
  color: white;
  background: none;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.roadmap-page nav.roadmap-navigation .title-and-button button:hover {
  cursor: pointer;
}
.roadmap-page nav.roadmap-navigation .title-and-button h1 {
  font-size: 18px;
}
.roadmap-page .progress-container-mobile {
  background: #f7f8fd;
  display: flex;
  height: 60px;
  min-height: 60px;
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .roadmap-page .progress-container-mobile {
    display: none;
  }
}
.roadmap-page .progress-container-mobile .progress-button-active,
.roadmap-page .progress-container-mobile .progress-button-inactive {
  width: 100%;
  background: none;
  font-size: 13px;
  font-weight: 700;
  border-bottom: 1px solid rgba(58, 67, 116, 0.4);
}
.roadmap-page .progress-container-mobile .progress-button-active {
  color: #3a4374;
  position: relative;
  border-bottom: 1px solid #ad1fea;
}
.roadmap-page .progress-container-mobile .progress-button-active .progress-button-accent {
  position: absolute;
  bottom: 0;
  background: #ad1fea;
  height: 5px;
  width: 100%;
}
.roadmap-page .progress-container-mobile .progress-button-inactive {
  color: rgba(58, 67, 116, 0.4);
  position: relative;
}
.roadmap-page .progress-container-mobile .progress-button-inactive .progress-button-accent {
  position: absolute;
  opacity: 0;
  bottom: 0;
  background: #ad1fea;
  height: 5px;
  width: 100%;
}
.roadmap-page .title-and-description-mobile {
  width: 100%;
  padding: 0rem 1rem;
}
@media (min-width: 768px) {
  .roadmap-page .title-and-description-mobile {
    display: none;
  }
}
.roadmap-page .title-and-description-mobile h2 {
  font-weight: 700;
  color: #3a4374;
  font-size: 18px;
  margin-bottom: 0.8rem;
}
.roadmap-page .title-and-description-mobile p {
  color: #647196;
  font-size: 13px;
}
.roadmap-page .roadmap-container-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .roadmap-page .roadmap-container-mobile {
    display: none;
  }
}
.roadmap-page .roadmap-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  max-width: 1110px;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .roadmap-page .roadmap-container {
    display: grid;
  }
}
.roadmap-page .roadmap-container .planned-container,
.roadmap-page .roadmap-container .in-progress-container,
.roadmap-page .roadmap-container .live-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  gap: 1rem;
}
.roadmap-page .roadmap-container .planned-container .title-and-description h2,
.roadmap-page .roadmap-container .in-progress-container .title-and-description h2,
.roadmap-page .roadmap-container .live-container .title-and-description h2 {
  font-weight: 700;
  font-size: 14px;
  color: #3a4374;
  margin-bottom: 0.8rem;
}
.roadmap-page .roadmap-container .planned-container .title-and-description p,
.roadmap-page .roadmap-container .in-progress-container .title-and-description p,
.roadmap-page .roadmap-container .live-container .title-and-description p {
  font-size: 14px;
  color: #647196;
}
.roadmap-page .roadmap-container .planned-container {
  grid-column: 1/2;
}
.roadmap-page .roadmap-container .in-progress-container {
  grid-column: 2/3;
}
.roadmap-page .roadmap-container .live-container {
  grid-column: 3/4;
}

.feedback-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 1.5rem;
  gap: 1.5rem;
  width: 100vw;
}
@media (min-width: 768px) {
  .feedback-detail-page {
    padding: 2rem;
  }
}
.feedback-detail-page .suggestion-card {
  max-width: 730px;
}
.feedback-detail-page .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 730px;
}
.feedback-detail-page .buttons button.button-edit-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  background: #4661e6;
  font-weight: 600;
  font-size: 13px;
  padding: 0.7rem 1rem;
  color: white;
  border-radius: 10px;
  height: 40px;
}
.feedback-detail-page .buttons button.button-edit-feedback:hover {
  cursor: pointer;
  background: #8397f8;
}
.feedback-detail-page .comment-section {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  gap: 2rem;
  width: 100%;
  max-width: 730px;
}
.feedback-detail-page .comment-section h2 {
  color: #3a4374;
  font-size: 18px;
  font-weight: 700;
}
.feedback-detail-page .reply-comment-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  background: white;
  border-radius: 10px;
  width: 100%;
  max-width: 730px;
}
@media (min-width: 1024px) {
  .feedback-detail-page .reply-comment-form {
    min-width: 730px;
  }
}
.feedback-detail-page .reply-comment-form h2 {
  font-size: 18px;
  color: #3a4374;
}
.feedback-detail-page .reply-comment-form .comment-input,
.feedback-detail-page .reply-comment-form .comment-input-error {
  background: #f7f8fd;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
  padding: 1rem;
  color: #3a4374;
  border: 1px solid rgba(0, 0, 0, 0);
}
.feedback-detail-page .reply-comment-form .comment-input:focus,
.feedback-detail-page .reply-comment-form .comment-input-error:focus {
  border: 1px solid #4661e6;
}
.feedback-detail-page .reply-comment-form .comment-input-error {
  border: 1px solid #d73737;
}
.feedback-detail-page .reply-comment-form .comment-input-error:focus {
  border: 1px solid #d73737;
}
.feedback-detail-page .reply-comment-form .empty-message {
  color: #d73737;
  margin-top: -15px;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .feedback-detail-page .reply-comment-form .empty-message {
    font-size: 15px;
  }
}
.feedback-detail-page .reply-comment-form .characters-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-detail-page .reply-comment-form .characters-and-button p.characters-count {
  color: #647196;
  font-size: 15px;
}
.feedback-detail-page .reply-comment-form .characters-and-button button.post-comment-button {
  background: #ad1fea;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  min-width: 120px;
  height: 45px;
}
.feedback-detail-page .reply-comment-form .characters-and-button button.post-comment-button:hover {
  cursor: pointer;
  background: #c75af6;
  color: #f2f4fe;
}
@media (min-width: 768px) {
  .feedback-detail-page .reply-comment-form .characters-and-button button.post-comment-button {
    width: 120px;
  }
}

.login-register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}
.login-register-page form.login-register-container {
  background: white;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.login-register-page form.login-register-container h1 {
  font-size: 24px;
  color: #3a4374;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.login-register-page form.login-register-container label {
  color: #3a4374;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0.6rem;
}
.login-register-page form.login-register-container p {
  color: #647196;
  font-size: 13px;
  margin-bottom: 0.6rem;
}
.login-register-page form.login-register-container p a {
  color: #4661e6;
  font-weight: 600;
}
.login-register-page form.login-register-container p a:hover {
  text-decoration: underline;
  color: #8397f8;
}
.login-register-page form.login-register-container input {
  background: #f7f8fd;
  border: 1px solid #f7f8fd;
  border-radius: 5px;
  color: #3a4374;
  outline: none;
  height: 40px;
  margin-bottom: 1rem;
  padding: 1rem;
}
.login-register-page form.login-register-container input:focus {
  border: 1px solid #4661e6;
}
.login-register-page form.login-register-container input.error {
  border: 1px solid #d73737;
}
.login-register-page form.login-register-container p.empty-message {
  margin-top: -15px;
  color: #d73737;
  font-size: 13px;
}
.login-register-page form.login-register-container button {
  background: #ad1fea;
  color: white;
  font-weight: 700;
  height: 40px;
  border-radius: 5px;
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-register-page form.login-register-container button:hover {
  background: #c75af6;
  cursor: pointer;
}
.login-register-page form.login-register-container button img {
  width: 25px;
}
.login-register-page form.login-register-container span {
  color: #647196;
  text-align: center;
  width: 100%;
}
.login-register-page form.login-register-container span a {
  color: #4661e6;
  font-weight: 600;
}
.login-register-page form.login-register-container span a:hover {
  text-decoration: underline;
}
.login-register-page form.login-register-container p.wrong-credential {
  color: #d73737;
  font-size: 13px;
  text-align: center;
  margin-top: -15px;
}
@media (min-width: 768px) {
  .login-register-page form.login-register-container p.wrong-credential {
    font-size: 15px;
  }
}

.category {
  background: white;
  min-height: 175px;
  display: none;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 8px;
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .category {
    display: flex;
  }
}
.category button.active {
  background: #4661e6;
  color: white;
  height: 30px;
  border-radius: 10px;
  padding: 0rem 1rem;
  font-weight: 600;
}
.category button.inactive {
  background: #f2f4ff;
  color: #4661e6;
  height: 30px;
  border-radius: 10px;
  padding: 0rem 1rem;
  font-weight: 600;
}
.category button.inactive:hover {
  background: #cfd7ff;
  cursor: pointer;
}

.roadmap {
  background: white;
  min-height: 175px;
  grid-template-columns: 2;
  grid-template-rows: auto;
  flex-direction: column;
  display: none;
  padding: 1.5rem;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .roadmap {
    display: grid;
  }
}
.roadmap h1 {
  color: #3a4374;
  font-size: 18px;
  font-weight: 700;
}
.roadmap a.view-roadmap {
  color: #4661e6;
  font-weight: 600;
  grid-column: 2;
  text-align: end;
}
.roadmap a.view-roadmap:hover {
  cursor: pointer;
  text-decoration: underline;
}
.roadmap .progress-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  color: #647196;
  /* Oval Orange */
}
.roadmap .progress-name div {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f49f85;
}
.roadmap .progress-name .oval-orange {
  background: #f49f85;
}
.roadmap .progress-name .oval-blue {
  background: #62bcfa;
}
.roadmap .progress-name .oval-purple {
  background: #ad1fea;
}
.roadmap .progress-count {
  color: #647196;
  font-weight: 700;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

.mobile-sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 40;
}
@media (min-width: 768px) {
  .mobile-sidebar {
    display: none;
  }
}
.mobile-sidebar .mobile-sidebar-card {
  position: fixed;
  gap: 1.5rem;
  right: 0;
  height: 100%;
  width: 270px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: #f7f8fd;
}
.mobile-sidebar .mobile-sidebar-card .category {
  display: flex;
}
.mobile-sidebar .mobile-sidebar-card .roadmap {
  display: grid;
}

.sort-by-dropdown {
  position: absolute;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  width: 255px;
}
.sort-by-dropdown button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #647196;
  font-size: 16px;
  padding: 0.75rem 1rem;
  background: white;
}
.sort-by-dropdown button:hover {
  cursor: pointer;
  color: #ad1fea;
}
.sort-by-dropdown hr {
  border: 1px solid #f2f4fe;
  margin: 0;
}

.category-dropdown,
.status-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: 1rem;
  z-index: 50;
}
.category-dropdown button,
.status-dropdown button {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: #647196;
}
.category-dropdown button:hover,
.status-dropdown button:hover {
  color: #ad1fea;
  cursor: pointer;
}
.category-dropdown hr,
.status-dropdown hr {
  border: 1px solid #f2f4fe;
  margin: 0;
}

.roadmap-card {
  background: white;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  width: auto;
  overflow: hidden;
}
.roadmap-card .accent-orange,
.roadmap-card .accent-purple,
.roadmap-card .accent-blue {
  height: 6px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.roadmap-card .accent-orange {
  background: #f49f85;
}
.roadmap-card .accent-purple {
  background: #ad1fea;
}
.roadmap-card .accent-blue {
  background: #62bcfa;
}
.roadmap-card .progress-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  color: #647196;
  /* Oval Orange */
}
.roadmap-card .progress-name div {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.roadmap-card .progress-name .oval-orange {
  background: #f49f85;
}
.roadmap-card .progress-name .oval-blue {
  background: #62bcfa;
}
.roadmap-card .progress-name .oval-purple {
  background: #ad1fea;
}
.roadmap-card h2.title {
  font-size: 13px;
  font-weight: 700;
  color: #3a4374;
}
@media (min-width: 1024px) {
  .roadmap-card h2.title {
    font-size: 18px;
  }
}
.roadmap-card h2.title:hover {
  color: #4661e6;
}
.roadmap-card p.description {
  font-size: 13px;
  color: #647196;
}
@media (min-width: 1024px) {
  .roadmap-card p.description {
    font-size: 16px;
  }
}
.roadmap-card span.roadmap-category {
  background: #f2f4ff;
  color: #4661e6;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
  width: fit-content;
  height: 30px;
}
.roadmap-card .upvotes-and-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.roadmap-card .upvotes-and-comments .upvotes,
.roadmap-card .upvotes-and-comments .downvotes {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  background: #f2f4ff;
  color: #3a4374;
  font-size: 13px;
  border-radius: 10px;
  width: 70px;
  height: 32px;
}
.roadmap-card .upvotes-and-comments .upvotes:hover,
.roadmap-card .upvotes-and-comments .downvotes:hover {
  background: #cfd7ff;
  cursor: pointer;
}
.roadmap-card .upvotes-and-comments .downvotes {
  background: #4661e6;
  color: white;
}
.roadmap-card .upvotes-and-comments .downvotes:hover {
  background: #8397f8;
}
.roadmap-card .upvotes-and-comments .comments {
  font-weight: 700;
  font-size: 13px;
  color: #3a4374;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .roadmap-card .upvotes-and-comments .comments {
    font-size: 16px;
  }
}

.no-feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  height: 80vh;
}
.no-feedback-container img {
  align-self: center;
  margin-bottom: 2rem;
}
.no-feedback-container h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #3a4374;
}
.no-feedback-container p {
  text-align: center;
  font-size: 13px;
  color: #647196;
  line-height: 1.2rem;
  max-width: 400px;
}
.no-feedback-container button.button-add-feedback {
  background: #ad1fea;
  font-weight: 600;
  font-size: 13px;
  padding: 0.7rem 1rem;
  color: white;
  border-radius: 10px;
  width: 135px;
  height: 40px;
  align-self: center;
}
.no-feedback-container button.button-add-feedback:hover {
  cursor: pointer;
  background: #c75af6;
}

.suggestion-card {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 1.2rem;
  width: 100%;
}
@media (min-width: 768px) {
  .suggestion-card {
    display: flex;
    padding: 2rem;
    gap: 2rem;
  }
}
.suggestion-card .suggestion-preview {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
}
.suggestion-card .suggestion-preview h3 {
  font-weight: 700;
  font-size: 13px;
  color: #3a4374;
}
@media (min-width: 768px) {
  .suggestion-card .suggestion-preview h3 {
    font-size: 18px;
  }
}
.suggestion-card .suggestion-preview h3:hover {
  cursor: pointer;
  color: #4661e6;
}
.suggestion-card .suggestion-preview p {
  font-size: 13px;
  color: #647196;
  line-height: 1.2rem;
}
@media (min-width: 768px) {
  .suggestion-card .suggestion-preview p {
    font-size: 16px;
  }
}
.suggestion-card .suggestion-preview .tag {
  background: #f2f4ff;
  color: #4661e6;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.suggestion-card .upvote-button,
.suggestion-card .downvote-button,
.suggestion-card .comment-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #3a4374;
  background: #f2f4ff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  width: fit-content;
  min-width: 40px;
  padding: 0.6rem 1rem;
  height: 30px;
}
@media (min-width: 768px) {
  .suggestion-card .upvote-button,
  .suggestion-card .downvote-button,
  .suggestion-card .comment-count {
    min-height: px;
  }
}
.suggestion-card .upvote-button,
.suggestion-card .downvote-button {
  grid-column: 1;
  width: 70px;
}
.suggestion-card .upvote-button:hover,
.suggestion-card .downvote-button:hover {
  cursor: pointer;
  background: #cfd7ff;
}
@media (min-width: 768px) {
  .suggestion-card .upvote-button,
  .suggestion-card .downvote-button {
    flex-direction: column;
    width: 40px;
    gap: 0.8rem;
    padding: 0.75rem 0.6rem;
    height: fit-content;
  }
}
.suggestion-card .downvote-button {
  background: #4661e6;
  color: white;
}
.suggestion-card .downvote-button:hover {
  background: #8397f8;
}
.suggestion-card .comment-count {
  justify-self: flex-end;
  background: none;
}
@media (min-width: 768px) {
  .suggestion-card .comment-count {
    align-self: center;
  }
}

.spinner {
  width: 20px;
}

button.go-back,
button.go-back-roadmap {
  background: none;
  color: #647196;
  font-weight: 700;
  font-size: 13px;
}
button.go-back:hover,
button.go-back-roadmap:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  button.go-back,
  button.go-back-roadmap {
    font-size: 14px;
  }
}

button.go-back-roadmap {
  color: white;
}
@media (min-width: 768px) {
  button.go-back-roadmap {
    font-size: 14px;
  }
}

button.button-add-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  background: #ad1fea;
  font-weight: 600;
  font-size: 13px;
  padding: 0.7rem 1rem;
  color: white;
  border-radius: 10px;
  height: 40px;
}
button.button-add-feedback:hover {
  cursor: pointer;
  background: #c75af6;
}

.comment {
  margin-bottom: 2rem;
}

.comment,
.comment-nested {
  display: flex;
  width: 100%;
  font-size: 13px;
  gap: 1rem;
}
.comment img,
.comment-nested img {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 100%;
  object-fit: cover;
}
.comment .user-info-and-reply-button,
.comment-nested .user-info-and-reply-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.comment .user-info-and-reply-button .user-info h3,
.comment-nested .user-info-and-reply-button .user-info h3 {
  color: #3a4374;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0.6rem;
}
.comment .user-info-and-reply-button .user-info h4,
.comment-nested .user-info-and-reply-button .user-info h4 {
  color: #647196;
  font-weight: 400;
  font-size: 14px;
}
.comment .user-info-and-reply-button .reply-button,
.comment-nested .user-info-and-reply-button .reply-button {
  background: none;
  font-weight: 600;
  font-size: 13px;
  color: #4661e6;
}
.comment .user-info-and-reply-button .reply-button:hover,
.comment-nested .user-info-and-reply-button .reply-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.comment p,
.comment-nested p {
  font-size: 15px;
  color: #647196;
  line-height: 1.2rem;
  font-size: 13px;
}
@media (min-width: 768px) {
  .comment p,
  .comment-nested p {
    font-size: 15px;
  }
}
.comment p b,
.comment-nested p b {
  font-weight: 700;
  color: #ad1fea;
}
.comment .contents,
.comment-nested .contents {
  width: 100%;
}

form.reply-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
}
@media (min-width: 768px) {
  form.reply-form {
    flex-direction: row;
  }
}
form.reply-form .reply-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form.reply-form .reply-input-container .reply-input,
form.reply-form .reply-input-container .reply-input-error {
  background: #f7f8fd;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  max-width: 650px;
  height: auto;
  resize: none;
  padding: 1rem;
  color: #3a4374;
  border: 1px solid rgba(0, 0, 0, 0);
}
form.reply-form .reply-input-container .reply-input:focus,
form.reply-form .reply-input-container .reply-input-error:focus {
  border: 1px solid #4661e6;
}
form.reply-form .reply-input-container .reply-input-error {
  border: 1px solid #d73737;
}
form.reply-form .reply-input-container .reply-input-error:focus {
  border: 1px solid #d73737;
}
form.reply-form .reply-input-container .empty-message {
  color: #d73737;
  font-size: 13px;
  margin-top: 5px;
}
@media (min-width: 768px) {
  form.reply-form .reply-input-container .empty-message {
    font-size: 15px;
  }
}
form.reply-form button.textarea-submit-button {
  background: #ad1fea;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  height: 45px;
}
form.reply-form button.textarea-submit-button:hover {
  cursor: pointer;
  background: #c75af6;
  color: #f2f4fe;
}
@media (min-width: 768px) {
  form.reply-form button.textarea-submit-button {
    width: 120px;
  }
}

.comment-nested-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comment-nested {
  padding-left: 3rem;
}

/*# sourceMappingURL=index.css.map */
