@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,600&display=swap");
*,
*:before,
*:after {
  font-family: "Jost";
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Jost";
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: #f7f8fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

div.page-container {
  left: 0px;
  right: 0px;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  div.page-container {
    padding: 3rem 2rem;
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  div.page-container {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  div.page-container header.suggestions-header {
    height: 180px;
    display: flex;
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  div.page-container header.suggestions-header {
    flex-direction: column;
    max-width: 255px;
    gap: 1rem;
  }
}
div.page-container header.suggestions-header .rainbow-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 72px;
  padding: 2rem;
  background-image: url("./assets/suggestions/mobile/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  div.page-container header.suggestions-header .rainbow-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("./assets/suggestions/tablet/background-header.png");
    align-items: flex-end;
  }
}
@media (min-width: 1024px) {
  div.page-container header.suggestions-header .rainbow-card {
    background-image: url("./assets/suggestions/desktop/background-header.png");
    min-height: 135px;
  }
}
div.page-container header.suggestions-header .rainbow-card .headline-subheadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}
div.page-container header.suggestions-header .rainbow-card .headline-subheadline h1 {
  font-weight: 700;
  color: white;
  font-size: 1rem;
}
div.page-container header.suggestions-header .rainbow-card .headline-subheadline h2 {
  font-weight: 600;
  color: rgba(242, 244, 254, 0.75);
  font-size: 0.8rem;
}
div.page-container header.suggestions-header .rainbow-card button {
  width: 20px;
  height: 17px;
  background: none;
  border: none;
}
@media (min-width: 768px) {
  div.page-container header.suggestions-header .rainbow-card button {
    display: none;
  }
}
div.page-container header.suggestions-header .rainbow-card button:hover {
  cursor: pointer;
}
div.page-container header.suggestions-header .category {
  background: white;
  min-height: 175px;
  display: none;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 8px;
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  div.page-container header.suggestions-header .category {
    display: flex;
  }
}
div.page-container header.suggestions-header .category button.active {
  background: #4661e6;
  color: white;
  height: 30px;
  border-radius: 10px;
  padding: 0rem 1rem;
  font-weight: 600;
}
div.page-container header.suggestions-header .category button.inactive {
  background: #f2f4ff;
  color: #4661e6;
  height: 30px;
  border-radius: 10px;
  padding: 0rem 1rem;
  font-weight: 600;
}
div.page-container header.suggestions-header .category button.inactive:hover {
  background: #cfd7ff;
  cursor: pointer;
}
div.page-container header.suggestions-header .roadmap {
  background: white;
  min-height: 175px;
  grid-template-columns: 2;
  grid-template-rows: auto;
  flex-direction: column;
  display: none;
  padding: 1.5rem;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 768px) {
  div.page-container header.suggestions-header .roadmap {
    display: grid;
  }
}
div.page-container header.suggestions-header .roadmap h1 {
  color: #3a4374;
  font-size: 18px;
  font-weight: 700;
}
div.page-container header.suggestions-header .roadmap a.view-roadmap {
  color: #4661e6;
  font-weight: 600;
  grid-column: 2;
  text-align: end;
}
div.page-container header.suggestions-header .roadmap a.view-roadmap:hover {
  cursor: pointer;
  color: #8397f8;
}
div.page-container header.suggestions-header .roadmap .progress-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  color: #647196;
  /* Oval Orange */
}
div.page-container header.suggestions-header .roadmap .progress-name div {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f49f85;
}
div.page-container header.suggestions-header .roadmap .progress-name .oval-orange {
  background: #f49f85;
}
div.page-container header.suggestions-header .roadmap .progress-name .oval-blue {
  background: #62bcfa;
}
div.page-container header.suggestions-header .roadmap .progress-name .oval-purple {
  background: #ad1fea;
}
div.page-container header.suggestions-header .roadmap .progress-count {
  color: #647196;
  font-weight: 700;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
}
div.page-container section.suggestions-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
@media (min-width: 1024px) {
  div.page-container section.suggestions-container {
    min-width: 580px;
    max-width: 825px;
  }
}
@media (min-width: 1280px) {
  div.page-container section.suggestions-container {
    width: 1280px;
  }
}
div.page-container section.suggestions-container .suggestions-bar {
  background: #373f68;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-bar {
    border-radius: 10px;
    padding: 1rem;
    gap: 3rem;
    justify-content: flex-start;
  }
}
div.page-container section.suggestions-container .suggestions-bar span.suggestions-count {
  font-weight: 700;
  font-size: 18px;
  color: white;
  display: none;
}
div.page-container section.suggestions-container .suggestions-bar span.suggestions-count img.suggestions-icon {
  display: none;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-bar span.suggestions-count img.suggestions-icon {
    display: block;
  }
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-bar span.suggestions-count {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
div.page-container section.suggestions-container .suggestions-bar button.sort-by {
  background: none;
  border: none;
  color: #f2f4fe;
  font-size: 14px;
  position: relative;
  width: 200px;
  text-align: start;
}
div.page-container section.suggestions-container .suggestions-bar button.sort-by:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-bar button.sort-by {
    color: #f2f4fe;
  }
}
div.page-container section.suggestions-container .suggestions-bar button.add-feedback-button {
  background: #ad1fea;
  font-weight: 600;
  font-size: 13px;
  padding: 0.7rem 1rem;
  color: white;
  border-radius: 10px;
}
div.page-container section.suggestions-container .suggestions-bar button.add-feedback-button:hover {
  cursor: pointer;
  background: #c75af6;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-bar button.add-feedback-button {
    margin-left: auto;
  }
}
div.page-container section.suggestions-container .suggestions-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 2rem;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-list {
    padding: 0px;
  }
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 1.2rem;
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-list .suggestion-card {
    display: flex;
    gap: 2rem;
  }
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .suggestion-preview {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .suggestion-preview h3 {
  font-weight: 700;
  font-size: 13px;
  color: #3a4374;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-list .suggestion-card .suggestion-preview h3 {
    font-size: 18px;
  }
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .suggestion-preview p {
  font-size: 13px;
  color: #647196;
  line-height: 1.2rem;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-list .suggestion-card .suggestion-preview p {
    font-size: 16px;
  }
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .suggestion-preview .tag {
  background: #f2f4ff;
  color: #4661e6;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  width: fit-content;
  padding: 0.5rem 1rem;
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .upvote-count,
div.page-container section.suggestions-container .suggestions-list .suggestion-card .comment-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #f2f4ff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  width: fit-content;
  padding: 0.6rem 1rem;
  height: 30px;
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .upvote-count {
  grid-column: 1;
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .upvote-count:hover {
  cursor: pointer;
  background: #cfd7ff;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-list .suggestion-card .upvote-count {
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.75rem 0.6rem;
    height: fit-content;
  }
}
div.page-container section.suggestions-container .suggestions-list .suggestion-card .comment-count {
  justify-self: flex-end;
  background: none;
}
@media (min-width: 768px) {
  div.page-container section.suggestions-container .suggestions-list .suggestion-card .comment-count {
    align-self: center;
  }
}

.mobile-sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .mobile-sidebar {
    display: none;
  }
}
.mobile-sidebar .mobile-sidebar-card {
  position: fixed;
  gap: 1.5rem;
  right: 0;
  height: 100%;
  width: 270px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: #f7f8fd;
}
.mobile-sidebar .mobile-sidebar-card .category-mobile {
  background: white;
  min-height: 175px;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 8px;
  width: 100%;
  border-radius: 10px;
}
.mobile-sidebar .mobile-sidebar-card .category-mobile button.active {
  background: #4661e6;
  color: white;
  height: 30px;
  border-radius: 10px;
  padding: 0rem 1rem;
  font-weight: 600;
}
.mobile-sidebar .mobile-sidebar-card .category-mobile button.inactive {
  background: #f2f4ff;
  color: #4661e6;
  height: 30px;
  border-radius: 10px;
  padding: 0rem 1rem;
  font-weight: 600;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile {
  background: white;
  min-height: 175px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  flex-direction: column;
  padding: 1.5rem;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile h1 {
  color: #3a4374;
  font-size: 18px;
  font-weight: 700;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile a {
  color: #4661e6;
  font-weight: 600;
  grid-column: 2;
  text-align: end;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile .progress-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  color: #647196;
  /* Oval Orange */
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile .progress-name div {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f49f85;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile .progress-name .oval-orange {
  background: #f49f85;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile .progress-name .oval-blue {
  background: #62bcfa;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile .progress-name .oval-purple {
  background: #ad1fea;
}
.mobile-sidebar .mobile-sidebar-card .roadmap-mobile .progress-count {
  color: #647196;
  font-weight: 700;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sort-by-dropdown {
  position: absolute;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  width: 255px;
}
.sort-by-dropdown button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #647196;
  font-size: 16px;
  padding: 0.75rem 1rem;
  background: white;
}
.sort-by-dropdown button:hover {
  cursor: pointer;
  color: #ad1fea;
}
.sort-by-dropdown hr {
  border: 1px solid #f2f4fe;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
