.roadmap {
  background: white;
  min-height: 175px;
  grid-template-columns: 2;
  grid-template-rows: auto;
  flex-direction: column;
  display: none;

  padding: 1.5rem;
  gap: 10px;
  width: 100%;
  border-radius: $radius-sm;

  @include md {
    display: grid;
  }
  h1 {
    color: $text-navy;
    font-size: $text-xl;
    font-weight: $bold;
  }
  a.view-roadmap {
    color: $button-blue;
    font-weight: $semibold;
    grid-column: 2;
    text-align: end;
    &:hover {
      cursor: pointer;
      color: $button-blue-hover;
    }
  }
  .progress-name {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-weight: $regular;
    color: $text-gray;

    /* Oval Orange */
    div {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #f49f85;
    }
    .oval-orange {
      background: $progress-orange;
    }
    .oval-blue {
      background: $progress-blue;
    }
    .oval-purple {
      background: $progress-purple;
    }
  }

  .progress-count {
    color: $text-gray;
    font-weight: $bold;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
