@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,600&display=swap");

// font weight
$regular: 400;
$semibold: 600;
$bold: 700;

//border radius
$radius-sm: 10px;

// text size
$text-xs: 13px;
$text-sm: 14px;
$text-md: 15px;
$text-lg: 16px;
$text-xl: 18px;
$text-2xl: 24px;

// background color
$transparent-black: rgba(0, 0, 0, 0.5);
$background-gray: #f7f8fd;
$background-navy: #373f68;

// text color
$text-navy: #3a4374;
$text-gray: #647196;
$text-almost-white: #f2f4fe;
$text-almost-white-75: rgba(242, 244, 254, 0.75);

// button color
$button-gray: #f2f4ff;
$button-blue: #4661e6;
$button-purple: #ad1fea;

// progress color
$progress-blue: #62bcfa;
$progress-orange: #f49f85;
$progress-purple: #ad1fea;
